<form [formGroup]="formGroup" (ngSubmit)="sendArticle()">

  <table class="table table-striped">
    <thead>
      <th>Moves</th>
    </thead>

    <tbody formArrayName="movesArray" >
      <tr *ngFor="let moveControl of movesArray.controls;let rowIndex = index;"  >
        <span [formGroupName]="rowIndex">
            <td >
              <input formControlName="move" class="form-control input-md"  />
            </td>
            <td>
              <input formControlName="kills" class="form-control input-md"   />
            </td>
            <td>
                <button (click)="remove(rowIndex)" type="button" class="btn btn-md btn-primary">
                    Remove
                </button>
            </td>
        </span>
      </tr>

    </tbody>

  </table>
  <button style="width: 100%;margin-bottom:10px;" (click)="add()" type="button" class="btn btn-lg btn-primary">
    Add move!
  </button>

  <hr>
  <button style="width: 100%;" [disabled]="movesArray.controls.length < 3 || formGroup.invalid" (click)="save()" type="button" class="btn btn-lg btn-info">
    Save moves!
  </button>

</form>