/* You can add global styles to this file, and also import other style files */

html, body { 
    margin: 0;
    height: 100%;
}

header{
    padding:20px;
}

body
{
    background: rgba(228,237,245,1);
    background: -moz-linear-gradient(left, rgba(228,237,245,1) 0%, rgba(255,255,255,0.7) 80%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,237,245,0.7)), color-stop(80%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(228,237,245,1) 0%, rgba(255,255,255,0.7) 80%);
    background: -o-linear-gradient(left, rgba(228,237,245,1) 0%, rgba(255,255,255,0.7) 80%);
    background: -ms-linear-gradient(left, rgba(228,237,245,1) 0%, rgba(255,255,255,0.7) 80%);
    background: linear-gradient(to right, rgba(228,237,245,1) 0%, rgba(255,255,255,0.7) 80%);
}